body{
    padding: 15px 15px;
    margin: 10px 10px;
}

header{
    font-family: 'Archivo Black', sans-serif;
    margin: 10px 10px;
    font-size: 40px;
    text-align: center;
    padding: 10px 15px;
    border: 30px outset;
    border-radius: 40px;
    border-color: #51130a;
    border-top-color: #333;
    margin: 10px;
    text-decoration: underline;
}

img{
    border: 1px;
    border-radius: 30px;
    display: block;
    margin: auto;
}

.saga img{
    width: 1850;
    height: 900;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9e5c3e;
    margin: 10px;
    border: 1px;
    border-radius: 20px;
}

.menu:last-child{
   border-right: none;
}

.menu a{
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.menu a:hover{
    color: #9c8563;
    background-color: #865e4f;
    text-decoration: underline #6e2c14;
    border: 2px;
}

.bak{
    background: url(inicio.png) no-repeat center;
    background-size: contain;
    height: 1500px;
    position: relative;
}

.tex{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: Gray;
}

h2{
    font-size: 1.1cm;
    font-family: 'Oswald', sans-serif;
}


.h{
    font-size: 0.5cm;
    font-family: 'Oswald', sans-serif;
}

h3{
    border: 10px outset;
    border-radius: 30px;
    border-color: #6e2c14;
    text-align: center;
    font-size: 55px;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: underline;
    color: #51130a;
}

h4{
    text-align: center;
    text-decoration: underline;
    color: #462114;
    font-size: 40px;
    font-family: 'Libre Franklin', sans-serif;
}

h5{
    text-decoration: underline;
    color: #3f1a15;
    text-align: center;
    font-size: 30px;
}

h6{
    font-size: 20px;
    text-align: justify;
    font-family: 'Comfortaa', cursive;
}

h7{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    color: #3f1a15;
    font-family: 'Tajawal', sans-serif;
}

.video{
    display: block;
    margin: auto;
    border: 1px;
    border-radius: 20px;
    width: 1242;
    height: 642;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 1px;
    border-radius: 50px;
  }
   
  li a {
    display: block;
    color: #865e4f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
      text-decoration: underline;
      color:#9c8563;
    background-color: #111;
  }
  
.cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #857e7c;
    padding: 10px;
}

.cont > div{
    background-color: #865e4f;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
}

.cont > div:hover{
    border: 5px solid;
    background-color: #9e5c3e;
}

.per h5{
    display: block;
    text-decoration: none;
    color: #753e36;
}

.movi table{
    display: block;
    margin: auto;
}

p{
    color: #dd361c;
}

footer{
    padding: 15px 15px;
    margin: 10px 10px;
    background-color: #3f1a15;
}
.ba{
    background: url(pie.png) no-repeat center;
    background-size: contain;
    height: 100px;
    position: relative;
}

.te{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: Gray;
}

@media screen and (max-width: 600px) {
    body {
        padding: 15px 15px;
        margin: 1px 1px;
    }
    .menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
        grid-template-rows: minmax(50px auto);
        padding: 10px;
        margin:10px;
      }
    .menu:last-child{
       border-right: none;
    }
    
    .menu a{
        float: center;
        display: block;
        color: whitesmoke;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
    }
    
    .menu a:hover{
        color: #9c8563;
        background-color: #865e4f;
        text-decoration: underline #6e2c14;
        border: 2px;
    }

    h2{
        font-size: 0.5cm;
        font-family: 'Oswald', sans-serif;
    }

    .h{
        font-size: 10px;
        font-family: 'Oswald', sans-serif;
    }    
    img {
        display: block;
        border: 2px solid whitesmoke;
        border-radius: 12px;
        padding: 10px;
        width: 90%;
        margin:10px;
      }
    .cont{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        background-color: #857e7c;
        padding: 10px;
    }
    
    .cont > div{
        background-color: #865e4f;
        border: 1px solid;
        border-radius: 30px;
        text-align: center;
    }
    
    .cont > div:hover{
        border: 5px solid;
        background-color: #9e5c3e;
    }
    img{
        display: block;
        width: 90%;
        border: 1px;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
    }
    .saga img{
         width: 1850;
         height: 500;
    }
    
}
